@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/index/background-hero.jpg");
  background-size: 100% auto cover;
  background-repeat: no-repeat;
  background-color: #e2eff7;
  background-position: center;
  padding: 51px 371px 82px 371px;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 1200px;
  height: 57px;
  background: url("/images/index/hero-decoration.svg") no-repeat;
  left: 0;
  bottom: 0;
}

.header-navigation {
  position: relative;
  max-height: 64px;
  z-index: 1;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 285px 0 30px;
  padding: 0;
  list-style-type: none;
  align-items: center;
  max-width: 339px;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-link-current::after {
  display: block;
  margin: auto;
  height: 2px;
  background-color: #756257;
  content: "";
  width: 70%;
  margin-bottom: -2px;
}

.logo-link:hover .page-header-logo {
  opacity: 0.6;
}

.logo-link:active .page-header-logo {
  opacity: 0.6;
}

.logo-link:focus {
  outline: none;
}

.logo-link:focus .page-header-logo  {
  outline: 3px solid #83b3d3;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  max-width: 268px;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.navigation-button {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 34px;
  background: #756157;
  border-radius: 4px;
  margin-left: 20px;
}

.favorites-count {
  position: absolute;
  top: 12px;
  left: 20px;
  display: block;
  min-width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  background: #7db54f;
  color: #ffffff;
  border-radius: 100vh;
  padding: 5px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 20px 0 0 0;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin: 30px auto 0;
}

.advantages-no-image .advantages-title::after {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-light-background {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-darker-background {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  max-width: 230px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-wrapper {
  text-align: center;
  max-width: 400px;
  padding: 102px 85px;
}

.advantages-no-image {
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  padding: 102px 85px;
}

.advantages-list-item {
  display: flex;
}

.advantages-with-photo {
  background-color: #82b3d3;
}

.advantages-with-photo .advantages-title {
  color:#ffffff
}

.advantages-with-photo .advantages-description {
  color: #ffffff;
}

.advantages {
  margin: 0 auto;
}

.advantages-text-wrapper {
  padding: 69px 0;
}

.advantages-intro {
  margin-top: 25px;
}

.features-text-wrapper {
  padding: 64px 348px 110px 348px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.features-item {
  padding: 81px 85px;
  text-align: center;
}

.features-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.2);
}

.features-title {
  margin: 0;
  margin-bottom: 30px;
}

.features-housing::before {
  content: "";
  display: block;
  background-image: url("/images/index/features-icon-housing.svg");
  width: 75px;
  height: 72px;
  margin: auto;
  margin-bottom: 30px;
}

.features-food::before {
  content: "";
  display: block;
  background-image: url("/images/index/features-icon-food.svg");
  width: 75px;
  height: 72px;
  margin: auto;
  margin-bottom: 30px;
}

.features-gifts::before {
  content: "";
  display: block;
  background-image: url("/images/index/features-icon-gifts.svg");
  width: 75px;
  height: 72px;
  margin: auto;
  margin-bottom: 30px;
}

.hotels-search {
  padding: 96px 304px;
  text-align: center;
}

.hotels-search-button {
  margin-top: 54px;
  background: #756157;
}

.subscribe-button {
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.subscribe {
  background-image: url("../images/index/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #8dabb9;
  background-position: center;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscribe .section-title,
.subscribe .section-description {
  color:#ffffff;
}

.subscribe-contact {
  display: flex;
  margin-top: 54px;
  justify-content: center;
}

.subscribe-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 20px;
  border: none;
  width: 452px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.subscribe-input:focus {
  outline: 3px solid #83b3d3;
}

.hotel-search {
  background-image: url("../images/catalog/hotel-search-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #4a7fa7;
  background-position: center;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 45px 0 35px 0;
  align-items: center;
  justify-content: center;
}

.social-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-link {
  padding: 13px 12px;
}

.social-icon {
  fill:#83b3d3
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:focus {
  outline: none;
}

.social-link:active .social-icon {
  opacity: 0.3;
}

.phone-number-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  margin: 0 236px 0 237px;
}

.black-text-link:hover,
.black-text-link:focus {
  color: #756157;
  outline: none;
}

.black-text-link-icon {
  fill:#000000;
}

.black-text-link:hover .black-text-link-icon,
.black-text-link:focus .black-text-link-icon {
  fill: #756157;
}

.black-text-link:active {
  opacity: 0.3;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 8px 0 40px 0;
  padding: 0;
  gap: 28px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color:#ffffff;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background: url("/images/catalog/breadcrumbs-arrow.svg");
  height: 10px;
  width: 6px;
  top: 6px;
  right: -16px;
}

.breadcrumbs-link:hover .breadcrumbs-link-icon {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-link:active .breadcrumbs-link-icon {
  opacity: 0.3;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px 70px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  color:#ffffff;
  margin-right: 70px;
  min-width: 150px;
}

.price-filter {
  margin-left: 70px;

}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width:20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("/images/catalog/checkbox-tick.svg");
  content: "";
}

.control-mark-radio {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 26%;
  left: 26%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3f5e72;
  content: "";
}

.control:focus-within .control-mark {
  outline: 3px solid #83b3d3;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:has(.control-input:disabled) {
  opacity: 0.3;
  pointer-events: none;
}

.control-input {
  margin: 0 0 16px 0;
}

.range-scale {
  position: relative;
  margin-top: 40px;
  height: 4px;
  width: 288px;
  background-color: rgba(255, 255, 255, 0.6);
}

.range-bar {
  position: absolute;
  height: 4px;
  width: 206px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -20px;
}

.price-input-wrapper {
  display: flex;
  position: relative;
  gap: 2px;
}

.price-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 12px 40px 12px 20px;
  max-width: 143px;
  background-color: #f2f2f2;
  border: none;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.min-price {
  border-radius: 4px 0 0 4px;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.price-input-label {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.max-price-label {
  right: 22px;
  top: 12px;
}

.min-price-label {
  left: 106px;
  top: 12px;
}

.max-price-label {
  position: absolute;
}

.price-input:hover {
  background-color: #e6e6e6;
}

.price-input:focus {
  outline: 3px solid #83b3d3;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.catalog-filter-button {
  font-size: 16px;
  line-height: 20px;
  background: #82b3d3;
}

.reset-button {
  background: transparent;
  margin-top: 32px;
}

.search-result-wrapper {
  display: flex;
  padding: 50px 70px 0 70px;
  margin-bottom: 40px;
  align-items: center;
}

.select-control {
  margin-left: 200px;
  margin-right: 70px;
  padding: 14px 20px;
  width: 292px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  background: url("/images/catalog/select-control-arrow.svg");
  background-repeat: no-repeat;
  background-position: 260px 20px;
  cursor: pointer;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
  outline: none;
}

.select-control:active {
  border-color: #68a2ca;
  outline: none;
}

.select-control:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.display-mode-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.display-tile::after {
  content:"";
  display: block;
  background: url("/images/catalog/display-mode-tile.svg");
  height: 14px;
  width: 16px;
}

.display-card::after {
  content:"";
  display: block;
  background: url("/images/catalog/display-mode-card.svg");
  height: 14px;
  width: 16px;
}

.display-list::after {
  content:"";
  display: block;
  background: url("/images/catalog/display-mode-list.svg");
  height: 14px;
  width: 16px;
}

.display-mode-link {
  display: flex;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.display-mode-checked {
  border: 2px solid #000000;
}

.display-mode-link:hover {
  border-color: #000000;
}

.display-mode-link:focus {
  border-color: #68a2ca;
  outline: none;
}

.display-mode-link:active {
  border-color: #000000;
  outline: none;
}

.search-result-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0 70px;
  margin-bottom: 80px;
}

.search-result-list::after{
  position: absolute;
  content: "";
  height: 1px;
  width: 1060px;
  background-color: #e6e6e6;
  bottom: -40px;
  left: 70px;
}

.search-result-item {
  padding: 20px;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 70px;
  margin-bottom: 60px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  align-content: center;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  background-color: #f2f2f2;
  color:#000000
}

.pagination-more {
  background-color: transparent;
  color:#000000
}

.subscribe-catalog {
  background-image: none;
  background-color: transparent;
}

.subscribe-catalog .section-title {
  color: #000000;
}

.subscribe-catalog .section-description {
  color: #333333;
}

.search-count {
  margin-left: 8px;
}

.search-result-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 28px 21px 36px 37px;
  row-gap: 16px;
  column-gap: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-link {
  grid-column: 1/3;
}

.hotel-link:focus {
  outline: none;
}

.hotel-card-text {
  margin: 0;
}

.hotel-title-link {
  grid-column: 1/3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.more-info-link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 8px 26px;
  background: #756157;
  max-width: 140px;
}

.add-to-favorites-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background: #82b3d3;
  padding: 8px 20px;
  max-width: 140px;
}

.add-to-favorites-button-checked {
  padding: 8px 18px;
  background: #7db54f;
}

.hotel-rating {
  max-width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  padding: 9px 22px 8px 23px;
  background: #f2f2f2;
  border-radius: 4px;
}

.hotel-stars {
  align-content: center;
}

.four-stars::after {
  content: "";
  display: block;
  background: url("/images/catalog/hotel-stars.svg");
  height: 17px;
  width: 96px;
}

.three-stars::after {
  content: "";
  display: block;
  background: url("/images/catalog/hotel-stars.svg");
  height: 17px;
  width: 72px;
}

.two-stars::after {
  content: "";
  display: block;
  background: url("/images/catalog/hotel-stars.svg");
  height: 17px;
  width: 48px;
}

.hotel-price {
  text-align: right;
}

.brown-button:hover,
.brown-button:focus {
  background: #615048;
  outline: none;
}

.brown-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background: #e5e5e5;
  color: #ffffff;
}

.blue-button:hover,
.blue-button:focus {
  background: #68a2ca;
  outline: none;
}

.blue-button:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.add-to-favorites-button-checked:hover,
.add-to-favorites-button-checked:focus {
  background: #6c9e42;
  outline: none;
}

.add-to-favorites-button-checked:active {
  background: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.reset-button:disabled {
  opacity: 0.1;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-hotel-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 14px;
  height: 14px;
  padding: 19px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("/images/modal/modal-close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-right: 30px;
}

.field-group {
  display: grid;
  grid-template-columns: 137px 440px;
  margin-bottom: 23px;
}

.modal-form-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  align-self: center;
}

.search-form-field {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  width: 440px;
}

.quantity-field::-webkit-outer-spin-button,
.quantity-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.guest-count-wrapper {
  display: flex;
}

.adults-count {
  margin-right: 46px;
}

.children-count {
  margin-right: 10px;
  margin-left: 88px;
}

.info-notice {
  align-self: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83B3D3;
  margin-right: 46px;
}

.info-notice::after {
  content: "";
  position: relative;
  display: block;
  background: url("/images/modal/info-notice-icon.svg");
  height: 12px;
  width: 2px;
  top: 6px;
  left: 12px;
}

.children-count::after {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image: url("/images/modal/info-notice-icon.svg");
}

.quantity-field {
  width: 31px;
  padding: 14px 10px;
  text-align: center;
  border-radius: 0;
}

.date-notice {
  grid-column: 2/2;
  margin-left: 20px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  min-height: 25px;
  padding-top: 4px;
}

.date-incorrect-notice {
  color: #ff5757;
}

.count-buttons-wrapper {
  display: flex;
}

.quantity-button {
  position: relative;
  border: none;
  width: 40px;
}

.modal-button {
  margin-top: 25px;
  width: 577px;
  background: #68a2ca;
}

.quantity-button::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background: #cbc5c2;
  transform: rotate(90deg);
  left: 20px;
  top: 20px;
}

.quantity-plus {
  position: relative;
}

.quantity-plus::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background: #cbc5c2;
  left: 20px;
  top: 20px;
}
